/* For dashboard.html */

body {
  background: linear-gradient(270deg, #730400 62.02%, #630700 100%);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.index-container {
  width: 50vw;
  height: 80vh;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  border-style: solid;
  -webkit-filter: drop-shadow(0 4px 100px rgba(0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(50px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

h1 {
  color: #fef6dc;
  font-size: 3em;
  width: 80%;
  height: fit-content;
  margin-left: 10%;
}

.service-type {
  width: 70%;
  height: 50vh;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  border-style: solid;
  -webkit-filter: drop-shadow(0 4px 100px rgba(0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(50px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 15%;
}

.service-item {
  align-items: center;
  height: fit-content;
  width: 90%;
  justify-content: center;
  display: inline-block;
}

.checkbox {
  width: 3vw;
  height: 3vh;
}
