/* For dashboard.html */

body {
  background: linear-gradient(270deg, #730400 62.02%, #630700 100%);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  width: 30vw;
  height: 90vh;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  border-style: solid;
  -webkit-filter: drop-shadow(0 4px 100px rgba(0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(50px);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img-logo2 {
  background-color: #fef6dc;
  width: 20%;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius: 50%;
  height: 10%;
}

.service-type {
  width: 80%;
  height: 70%;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  border-style: solid;
  -webkit-filter: drop-shadow(0 4px 100px rgba(0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(50px);
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  color: #fef6dc;
  font-size: 2rem;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#serviceForm {
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  block-size: auto;
}

.service-holder {
  width: 90%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: left;
  display: inline-block;
  block-size: auto;
  background-color: #fef6dc;
  border-radius: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 2%;
}

.checkbox {
  width: 3vw;
  height: 3vh;
  display: inline-block;
}

.service-name {
  font-size: 1rem;
  color: #730400;
  font-weight: 700;
}

.servicename-holder {
  display: inline-block;
  width: 15vw;
  height: fit-content;
}

.service-qty {
  width: 2vw;
  height: 3vh;
  display: inline-block;
}

.total-container {
  width: fit-content;
  padding-left: 3%;
  padding-right: 3%;
  height: 5vh;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  border-style: solid;
  -webkit-filter: drop-shadow(0 4px 100px rgba(0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(50px);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 7%;
  margin-left: 17%;
}

#totalAmount {
  width: 10vw;
  height: 60%;
  color: #730400;
  border: none;
  background-color: #fef6dc;
  border-radius: 5%;
  font-size: 1.5rem;
  font-weight: 700;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4%;
}

#total-text {
  color: #fef6dc;
  font-size: 1.5rem;
  font-weight: 700;
}

.btn-holder {
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  block-size: auto;
  margin-top: 5%;
}

.submit-btn {
  width: fit-content;
  height: 5vh;
  background-color: #fef6dc;
  color: #730400;
  border: #fef6dc solid 3px;
  border-radius: 10%;
  font-size: 1.2rem;
  font-weight: 700;
}

.reset-btn {
  width: fit-content;
  height: 5vh;
  background-color: #fef6dc;
  color: #730400;
  border: #fef6dc solid 3px;
  border-radius: 10%;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 25%;
}

#logoutBtn {
  width: fit-content;
  height: 5vh;
  background-color: #fef6dc;
  color: #730400;
  border: #fef6dc solid 3px;
  border-radius: 10%;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 2%;
}
