body {
  background: linear-gradient(270deg, #730400 62.02%, #630700 100%);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.index-container {
  width: 50vw;
  height: 80vh;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  border-style: solid;
  -webkit-filter: drop-shadow(0 4px 100px rgba(0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(50px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-logo {
  background-color: #fef6dc;
  width: 30%;
  margin-top: 2%;
  margin-left: 35%;
  border-radius: 50%;
}

h1 {
  color: #fef6dc;
  font-size: 3rem;
  text-align: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  padding: 2%;
  width: 100%;
  height: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 6vh;
}

#email,
#password {
  border-radius: 10px;
  border: 5px solid #fef6dc;
  background-color: transparent;
  color: #fef6dc;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 2%;
  width: 100%;
  height: 100%;
}

#email::placeholder,
#password::placeholder {
  color: #fef6dc;
  font-size: 1.5rem;
  font-weight: 700;
}

#account-icon,
#password-icon {
  margin-left: 55%;
  margin-top: 1.5%;
  position: absolute;
}

.submit-btn {
  background-color: #fef6dc;
  color: #730400;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  width: 20vw;
  height: 6vh;
  margin-top: 2%;
  cursor: pointer;
}
