/* For transactiondetails.html */

body {
  background: linear-gradient(270deg, #730400 62.02%, #630700 100%);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

