/* For transactiondetails.html */

body {
  background: linear-gradient(270deg, #730400 62.02%, #630700 100%);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.transaction-container {
  width: 40vw;
  height: 90vh;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  border-style: solid;
  -webkit-filter: drop-shadow(0 4px 100px rgba(0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(50px);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #fef6dc;
  font-size: 2rem;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user-process {
  width: 90%;
  height: fit-content;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  border-style: solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  block-size: auto;
}

.user-info,
.processed-info {
  color: #fef6dc;
  font-size: 1rem;
  font-weight: 700;
  width: 40%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  block-size: auto;
}

#tdUserId,
#tdProcessedBy {
  color: #730400;
  background-color: #fef6dc;
  font-size: 1rem;
  font-weight: 700;
  padding: 1%;
  border-radius: 5%;
}

.transaction-info {
  width: 90%;
  height: 50%;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  color: #fef6dc;
  border-style: solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  block-size: auto;
  margin-top: 2%;
}

#tdLastName,
#tdGivenName,
#tdMiddleName,
#tdProgram,
#tdSchoolYear,
#tdTerm,
#tdYear {
  background-color: #fef6dc;
  color: #730400;
  font-size: 1rem;
  font-weight: 700;
  padding: 1%;
  border-radius: 5%;
  width: 10vw;
  display: inline-block;
  padding-left: 5%;
}

#tdDateTime,
#tdStatusText {
  background-color: #fef6dc;
  color: #730400;
  font-size: 1rem;
  font-weight: 700;
  padding: 1%;
  border-radius: 5%;
  width: 15vw;
  display: inline-block;
  padding-left: 5%;
}

.transaction-left,
.transaction-right {
  font-size: 1rem;
  width: 45%;
  height: fit-content;
  text-align: left;
  display: inline-block;
  block-size: auto;
}

.left-info,
.right-info {
  color: #fef6dc;
  width: 7vw;
}

.total-container {
  width: fit-content;
  padding-left: 3%;
  padding-right: 3%;
  height: 5vh;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  border-style: solid;
  -webkit-filter: drop-shadow(0 4px 100px rgba(0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(50px);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3%;
  display: inline-flex;
  margin-bottom: 3%;
}

#tdTotalAmount {
  width: fit-content;
  height: 60%;
  color: #730400;
  border: none;
  background-color: #fef6dc;
  border-radius: 5%;
  font-size: 1.2rem;
  font-weight: 700;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4%;
  padding: 2%;
  margin-left: 15%;
}

#total-text {
  color: #fef6dc;
  font-size: 1.2rem;
  font-weight: 700;
}

.services-group {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  block-size: auto;
  background-color: #fef6dc;
  color: #730400;
  border-radius: 5%;
}

#confirmTransactionBtn {
  width: fit-content;
  height: 5vh;
  background-color: #fef6dc;
  color: #730400;
  border-radius: 5%;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  margin-top: 3%;
}
