/* For transactionStatus.html */

body {
  background: linear-gradient(270deg, #730400 62.02%, #630700 100%);
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.transaction-container {
  width: 40vw;
  height: 90vh;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  border-style: solid;
  -webkit-filter: drop-shadow(0 4px 100px rgba(0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(50px);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #fef6dc;
  font-size: 2rem;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.transaction-info {
  width: 90%;
  height: 70%;
  background-color: #730400;
  border-radius: 5%;
  border-color: #fef6dc;
  color: #fef6dc;
  border-style: solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  block-size: auto;
  margin-top: 2%;
}

#txStatusMessage {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1%;
  margin-bottom: 1%;
}

#txStatusList {
  width: 90%;
  height: 80%;
  background-color: #fef6dc;
  color: #730400;
  border-radius: 5%;
  margin: 0 auto;
  padding: 2%;
  overflow-y: auto;
  text-align: left;
}

#txStatusList p {
  margin: 0.25rem 0;
}

#txStatusList ul {
  margin: 0.25rem 0 0.75rem 1.25rem;
}

#txStatusList li {
  margin-bottom: 0.25rem;
}

.btn-holder {
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  block-size: auto;
  margin-top: 3%;
}

#goBackToDashboardBtn,
#makeAnotherTransactionBtn {
  width: fit-content;
  height: 5vh;
  background-color: #fef6dc;
  color: #730400;
  border: #fef6dc solid 3px;
  border-radius: 10%;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-right: 1%;
  margin-left: 1%;
}
